* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 25px;
    text-align: center;
    background-color: rgb(16, 97, 129);
}

h1{
    color: #FFF;
    letter-spacing: 2px;
}

.qr-text {
    padding: 10px 20px;
    width: 400px;
    border: 2px solid rgba(45, 222, 058);
    margin: 20px 0;
    font-size: 20px;
}

.generate-btn {
    padding: 10px 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;    
    box-shadow: 2px 4px 8px rgba(255, 255, 255, 0.7);
    cursor: pointer;
    background-color: #000;   
    border-radius: 5px
}

.qr-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.error-message {
    color: #FFF;
    font-size: 24px;
    font-family: cursive;
    padding-bottom: 20px;
}