body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: sans-serif;
    background: linear-gradient(132deg, rgb(29, 69, 17) 20%, rgb(238, 241, 22) 80%);
}

.menu {
    background: rgb(211, 211, 211);
    width: 300px;
    opacity: .5;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.menu p {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.menu .fas {
    transition: transform .2s;
}

.social-links {
    background: rgb(211, 211, 211);
    opacity: .5;
    padding: 10px;
    width: 300px;
    list-style-type: none;
    border-radius: 5px;
    
}

.social-links li {
    display: flex;
    align-items: center;    
    cursor: pointer;
    transition: padding 0.4s linear;
}

.social-links li:hover{
    background-color: rgb(169, 169, 169);
    border-radius: 5px;
    padding-left: 10px;
    font-weight: bold;
}

.social-links li .fab {
    margin: 0 10px;
}

.rotate .fas {
    transform: rotate(180deg);
}

.hide {
    visibility: hidden;
}